*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 150vh;
}

.top{
    background: linear-gradient(to top, rgba(0,0,0,0.55)50%,rgba(0,0,0,0.55)50%),url(Contact.jpg);
    height: 50vh;
    position: relative;
}

.navbar ul{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 60px;
    /* opacity: 0;
    animation: fadein 0.8s ease-in forwards; */
}

.navbar ul li{
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.navbar ul li a::after{
    content: "";
    position: absolute;
    left: 50%;              /* start at center */
    bottom: -3px;
    width: 0;               /* start invisible */
    height: 2px;
    background: orange;     /* underline color */
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.navbar ul li a:hover::after{
    width: 100%;
}

.about{
    font-size: 28px;
    top: 30%;
    font-family: "Poppins", sans-serif;
    opacity: 0;
    position: relative;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    animation: fadein 1.3s ease-in forwards;
}

@keyframes fadein{
    to{
        opacity: 1;
    }
}
.content{
    max-width: max-content;
    display: flex;
}
.content .paragraph{
    width: 700px;
    flex: 1;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: black;
    background: rgba(255, 238, 0, 0.6);
    box-shadow: 0 12px 30px rgba(0,0,0,1);
    border-radius: 16px;
    padding: 24px 28px;
    margin-top: 5%;
    margin-left: 5%;
}

.content audio{
    padding-top: 15px;
    width: 400px;
    height: 40px;
}

.content .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.content .image img {
    width: 800px;
    margin-left: 70%;
    /* max-width: 600px; */
    margin-top: 10%;
    height: 800px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.footer{
    text-align: center;
    padding: 40px 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding-bottom: 5%;
}

.footer h4{
    width: fit-content;
    margin: auto;
    font-size: 38px;
    padding: 4%;
    font-family: "Poppins", sans-serif;
}

.footer .icons{
    font-size: 30px;
    padding: 4%;
    width: fit-content;
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

.footer .icons a{
    color: black;
}

.footer .icons a:hover{
    color: orange;
}

.footer p{
    margin: auto;
    width: fit-content;
}

.footer .credit{
    font-size: 22px;
}

.footer .credit i{
    color: red;
}