*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 150vh;
}

.top{
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%, rgba(0,0,0,0.6)50%), url(Contact.jpg);
    position: relative;
    height: 50vh;
}

ul{
    /* float: left; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-left: 1200px;
}

ul li{
    /* list-style: none; */
    margin-left: 62px;
    margin-top: 40px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color: orange;
    transform: translateY(-3px);
}

.top .contact{
    position: relative;
    text-align: center;
    top: 43%;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
    opacity: 0;
    animation: fadeIn 1.2s ease-in forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.location{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    margin: 0%;
}
.content{
    position: relative;
    padding-left: 10%;
    padding-top: 5%;
}
.content div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.content div i{
    font-size: 32px;
    color: rgb(255, 0, 55);
    margin: 10px;
    margin-right: 30px;
}

.content div h5{
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    color: grey;
    margin-bottom: 5px;
    font-weight: bold;
}

.footer{
    text-align: center;
    padding: 40px 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding-bottom: 5%;
}

.footer h4{
    width: fit-content;
    margin: auto;
    font-size: 38px;
    padding: 4%;
    font-family: "Poppins", sans-serif;
}

.footer .icons{
    font-size: 30px;
    padding: 4%;
    width: fit-content;
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

.footer .icons a{
    color: black;
}

.footer .icons a:hover{
    color: orange;
}

.footer p{
    margin: auto;
    width: fit-content;
}

.footer .credit{
    font-size: 22px;
}

.footer .credit i{
    color: red;
}