*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}
.main{
    width: auto;
    height: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.55)50%,rgba(0,0,0,0.55)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    align-items: center;
    justify-content: center ;
    gap: 20px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    padding-left: 30px;
    float: left;
    padding-top: 20px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    text-decoration: none;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1100px;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}

ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

/* ul li a:hover{
    text-decoration: underline; */
    /* color: orange; */
    /* transform: translateY(-3px); */
/* } */

ul li a::after {
    content: "";
    position: absolute;
    left: 50%;              /* start at center */
    bottom: -3px;
    width: 0;               /* start invisible */
    height: 2px;
    background: orange;     /* underline color */
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

ul li a:hover::after {
    width: 100%;            /* expands to both sides */
}

.hero{
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
}


/* Center card */
.hero-content{
    position: relative;
    height: 80%;
    display: flex;
    align-items: center;
    padding-left: 60px;   /* move a bit from left */
}

/* The text box */
.hero-card{
    max-width: 420px;
    background: rgba(0, 0, 0, 0.4);
    padding: 24px 28px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0,0,0,1);
}

/* Typography */
.hero-subtitle{
    font-size: 50px;
    letter-spacing: 1px;
    margin: 4px 0 16px;
    color: orange;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.hero-title{
    font-size: 50px;
    margin: 4px 0 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: orange;  /* nice orange */
}

.hero-text{
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 24px;
    color: white;
    /* font-weight: bold; */
    font-family: "Poppins", sans-serif;
    /* font-style: italic; */
    opacity: 0;
    animation: fadein 1.3s ease-in forwards;
}

@keyframes fadein{
    to{
        opacity: 1;
    }
}

/* Button */
.hero-btn{
    border: none;
    padding: 10px 26px;
    border-radius: 20px;
    background: #ff9800;
    color: #111;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-btn:hover{
    background: orange;
    transform: translateY(-2px);
}