*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(join.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    height: 89vh;
}
header h1{
    margin: 20px;
    font-size: 60px;
    font-family: "Poppins", Arial,sans-serif;
    color: rgb(255, 102, 0); 
}

.form{
    max-width: 500px;
    background: rgba(0, 0, 0, 0.5);
    padding: 35px 70px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0,0,0,1);
}
.content{
    padding-left: 20px;
}
label{
    font-size: 20px;
    font-family: "Poppins", Arial,sans-serif;
    color: yellow;
    display: flex;
    flex-direction: column;
}
input{
    font-size: 18px;
    margin-bottom: 20px;
}
